[Unit]
Description=Prometheus Node Exporter
After=network.target
[Service]
ExecStart=/data/node_exporter/node_exporter
User=prometheus
[Install]
WantedBy=multi-user.target
